<main class="home-page">

<div class="nav-bars">
  <i class="fa fa-bars" ng-click="homeCtrl.showNav = !homeCtrl.showNav" href="#openModal" aria-hidden="true"></i>
</div>
  <div class="home-mobile-nav" ng-if="homeCtrl.showNav">
    <button id="nav-mobile-values" class="home-nav-mobile-btn" type="button" name="button"><a href="#values" target="_self">values</a></button>
    <button id="nav-mobile-clients" class="home-nav-mobile-btn" type="button" name="button"><a href="#clients" target="_self">our clients</a></button>
    <button id="nav-mobile-wins" class="home-nav-mobile-btn" type="button" name="button"><a href="#wins" target="_self">wins</a></button>
    <button id="nav-mobile-about" class="home-nav-mobile-btn" type="button" name="button"><a href="#/about">meet us</a></button>

      <div class="close-nav" ng-click="homeCtrl.closeNav()"><p>x</p></div>
  </div>


  <div class="parallax">
    <div class="parallax-layer parallax-layer-back">
      <div class="home-bg-placeholder"></div>
      <div class="home-img-working home-img">
        <img class="home-working" src="../../assets/images/working.jpg" alt="working" />
      </div>
      <div class="home-img-globe home-img">
        <img class="home-globe" src="../../assets/images/globe-pic.jpg" alt="Globe Picture" />
      </div>
      <div class="home-img-wall home-img">
        <img class="home-wall" src="../../assets/images/trophies.jpg" alt="Laughing" />
      </div>
    </div>


    <div class="parallax-layer parallax-layer-base">
        <div class="home-desk-nav">
          <ul id="home-desk-ul-els">
            <li class="home-desk-nav-els">
              <a href="#/about"  id="nav-about" class="home-nav-btn">meet us</a>
            </li>
            <li class="home-desk-nav-els">
              <a href="#wins" target="_self" id="nav-wins" class="home-nav-btn">wins</a>
            </li>
            <li class="home-desk-nav-els">
              <a href="#clients" target="_self" id="nav-clients" class="home-nav-btn">our clients</a>
            </li>
            <li class="home-desk-nav-els">
              <a href="#values" target="_self" id="nav-values" class="home-nav-btn">values</a>
            </li>
          </ul>
        </div>



      <intro></intro>
      <info id="home-info"></info>
      <div class="home-header-container">
        <p class="home-values-header" id="values">our values</p>
      </div>
      <buzz-words></buzz-words>
      <div class="home-header-container" id="home-clients">
        <p class="home-people-header" id="clients">our clients</p>
      </div>
      <our-work></our-work>
      <div class="home-header-container">
        <p class="home-quotes-header" id="wins">wins</p>
      </div>
      <quotes></quotes>

      <contact></contact>
      <!-- <all-footer></all-footer> -->
    </div>
  </div>
</main>
