<main class="home-page">

  <div class="parallax">
    <div class="parallax-layer parallax-layer-back">
      <img class="home-img home-working" src="../../assets/images/working.jpg" alt="working" />
      <img class="home-img home-globe" src="../../assets/images/globe-pic.jpg" alt="Globe Picture" />
      <img class="home-img home-wall" src="../../assets/images/wall-pic.jpg" alt="Laughing" />
    </div>


    <div class="parallax-layer parallax-layer-base">

        <a href="#values" target="_self" id="nav-values" class="home-nav-btn">values</a>
        <a href="#clients" target="_self" id="nav-clients" class="home-nav-btn">our clients</a>

      <intro></intro>
      <info id="home-info"></info>
      <div class="home-header-container">
        <p class="home-values-header" id="values">our values</p>
      </div>
      <!-- <p id="values">here it is</p> -->
      <buzz-words></buzz-words>
      <div class="home-header-container" id="home-clients">
        <p class="home-people-header" id="clients">our clients</p>
      </div>
      <our-work></our-work>
      <div class="home-header-container">
        <p class="home-quotes-header">our wins</p>
      </div>
      <quotes></quotes>
      <!-- <div class="home-header-container">
        <p>i'm here now</p>
      </div>
      <network></network> -->
      <contact></contact>
      <all-footer></all-footer>
    </div>
  </div>
</main>
