@import "_theme";

.home-page {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.home-img {
  width: 100%;
}

.globe-copy {
  position: absolute;
  width: 45%;
  margin-top: -53%;
  margin-left: 50%;
  color: white;
}

.home-headers {
  position: absolute;
  font-size: 4em;
  color: white;
  font-family: 'Italianno', cursive;
}

.work-header {
  margin-top: -20%;
  margin-left: 40%;
}

.quote-header {
  margin-top: -16%;
}
