@import "_theme";


.home-page {
  position: relative;
  margin: 0;
  float: left;
  padding: 0;
  width: 102%;
  height: 100%;
}
.home-header-container {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 459px;
  width: 100%;
}

.home-mobile-nav {
  position: fixed;
  height: 100%;
  width: 100%;
  margin-left: 50%;
  z-index: 2;
  background-color: white;
}

#home-desk-ul-els {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.home-desk-nav-els {
  list-style: none;
  margin-left: 30px;
  display: inline;
  float: right;
  margin-right: 30px;
}

.close-nav p {
  color: black;
  font-size: 3em;
  margin-left: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
}


.home-nav-mobile-btn {
  width: 100%;
  height: 73px;
  text-align: left;
  margin-left: 20px;
  font-size: 2em;
  color: black;
  border: none;
  background-color: transparent;

  a {
    color: black;
  }
}

.nav-bars {
  position: fixed;
  font-size: 2.2em;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  text-align: right;
  margin-left: 0%;
  z-index: 2;

  i {
    margin-right: 30px;
  }

  @media only screen and (min-width : 820px) {
    color: white;
  display: none;
  }
}

.fa-bars {
  color: $app-light;
}



.home-nav-btn {
  color: white;
  font-size: 1.8em;
  z-index: 5;

  &:hover {
    cursor: pointer;
  }

}

.home-bg-placeholder {
  width: 100%;
  height: 100%;
}

.home-values-header {
  margin-top: 379px;
  font-size: 5em;
  color: white;

  @media only screen and (min-width : 820px) {
    margin-top: 301px;
    font-size: 10em;
  }
}

.home-desk-nav {

  @media only screen and (max-width : 819px) {
  display: none;
  }
}
.home-people-header {
  margin-top: 379px;
  float: right;
  margin-right: 5px;
  font-size: 5em;
  color: white;
  @media only screen and (min-width : 820px) {
    margin-top: 303px;
    float: right;
    margin-right: 1%;
    font-size: 10em;
  }
}
.home-quotes-header {
  margin-top: 379px;
  font-size: 5em;
  color: white;
  @media only screen and (min-width : 820px) {
    margin-top: 301px;
    font-size: 10em;
    margin-left: 30px;
  }
}

.home-img {

  width: 102%;
  height: 739px;
  margin-top: -240px;
  margin-left: -2px;
  overflow: hidden;

  @media only screen and (min-width : 820px) {
      position: absolute;
      display: inline;
      height: 735px;
      width: 100%;
      margin-top: -239px;
    }

  @media only screen and (min-width : 1535px) {
    height: 1428px;
  }
}

.home-img-working {
  @media only screen and (min-width : 1345px) {
    height: 1445px;
  }
}

.home-img-globe {
  height: 1483px;
  margin-top: -8px;

  @media only screen and (min-width : 820px) {
    margin-top: -24px;
  }
}

.home-img-wall {
  height: 718px;
  margin-top: -640px;


  @media only screen and (min-width: 820px) {
    margin-top: 1223px;
  }
}

.home-working {
  height: auto;
  width: 324%;
  float: right;
  margin-right: -80%;
  margin-top: 0px;



  @media only screen and (min-width : 820px) {
    margin-top: 0%;
    margin-right: -98px;
    width: 131%;
    height: auto;
  }
}


.home-globe {
  margin-top: 0px;
  margin-left: -212px;
  width: 350%;
  height: auto;




  @media only screen and (min-width : 820px) {
    margin-top: 515px;
    margin-left: 0;
    height: auto;
    width: 145%;
  }
}
.home-wall {
  width: 273%;
  margin-left: 0;


  @media only screen and (min-width : 820px) {
    width: 133%;
    height: auto;
    margin-left: 0%;
  }

}

.home-wall-img {
  @media only screen and (min-width : 1535px) {
    margin-top: 1%;
  }
}

.parallax {
  width: 100%;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $app-light;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.parallax-layer-base {
  transform: translateZ(0);
}
.parallax-layer-back {
  margin-left: -1%;
  transform: translateZ(-1px) scale(2);
}

.scroll-down-arrow {
  position: absolute;
  bottom: 29px;
  width: 100vw;
  height: 41px;
  z-index: 1;
}
.scroll-down-arrow-circle {
  width: 45px;
  height: 45px;
  margin-left: 47vw;
  border: 2.5px $app-light-trans solid;
  border-radius: 32px;
  color: $app-light-trans;
  z-index: 1;
  display: inline-block;

  &:hover {
    border-color: $app-light;
    color: $app-light;
  }
}

.fa-angle-down {
  font-size: 3em;
  margin-left: 7px;
}

#home-scroll {
  display: inline-block;
  margin-left: 3px;
  font-size: 2em;
  color: $app-light-trans;
}
