@import "_theme";


.home-page {
  position: relative;
  margin: 0;
  float: left;
  padding: 0;
  width: 100%;
  height: 100%;
}
.home-header-container {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 459px;
  width: 100%;
}



.home-nav-btn {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 1.8em;
  z-index: 5;

}

.home-bg-placeholder {
  width: 100%;
  height: 100%;
}

#nav-values {
  margin-left: 65%;
}
#nav-clients {
  width: 100px;
  margin-left: 72%;
}
#nav-wins {
  margin-left: 82%;
}
#nav-about {
  margin-left: 90%;
}





.home-values-header {
  margin-top: 379px;
  font-size: 5em;
  color: white;

  @media only screen and (min-width : 820px) {
    margin-top: 301px;
    font-size: 10em;
  }
}

.home-desk-nav {
  @media only screen and (max-width : 820px) {
  display: none;
  }
}
.home-people-header {
  margin-top: 379px;
  float: right;
  margin-right: 5px;
  font-size: 5em;
  color: white;
  @media only screen and (min-width : 820px) {
    margin-top: 303px;
    float: right;
    margin-right: 1%;
    font-size: 10em;
  }
}
.home-quotes-header {
  margin-top: 379px;
  font-size: 5em;
  color: white;
  @media only screen and (min-width : 820px) {
    margin-top: 301px;
    font-size: 10em;
  }
}

.home-img {
  width: 200%;
  margin-left: -51%;
  overflow: hidden;

  @media only screen and (min-width : 1535px) {
    height: 1428px;
  }
}

.home-img-working {
  height: 1466px;

  @media only screen and (min-width : 1345px) {
    height: 1445px;
  }

  @media only screen and (min-width : 1535px) {
    height: 1452px;
  }
}

.home-img-globe {
  height: 1483px;
  margin-top: -3%;

  @media only screen and (min-width : 1345px) {
    // height: 1445px;
      height: 1513px;
  }

  @media only screen and (min-width : 1535px) {
    height: 1528px;
  }
}

.home-img-wall {
  height: 1466px;

  @media only screen and (min-width : 1345px) {
    height: 1445px;
  }

  @media only screen and (min-width : 1535px) {
    height: 1428px;
    margin-top: 0%
  }
}

.home-working {
  margin-top: 217px;
  width: 1900px;
  margin-left: -117%;

  @media only screen and (min-width : 820px) {
    margin-top: 0%;
    width: 105%;
    margin-left: 0;
  }
}


.home-globe {
  margin-top: -24%;
  width: 405%;
  margin-left: -156%;

  @media only screen and (min-width : 820px) {
    margin-top: 1%;
    width: 110%;
    margin-left: 0%;
  }
}
.home-wall {
  margin-top: 32%;
  width: 405%;
  margin-left: -156%;
  @media only screen and (min-width : 820px) {
    margin-top: 0%;
    width: 115%;
    margin-left: 0%;
  }

}

.home-wall-img {
  @media only screen and (min-width : 1535px) {
    margin-top: 1%;
  }
}

// header containers need fixed heights

.parallax {
  width: 100%;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $app-light;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.parallax-layer-base {
  transform: translateZ(0);
}
.parallax-layer-back {
  transform: translateZ(-1px);
}
