<div class="contact">
  <div class="contact-container">

  <!-- <div class="contact-arrow">
    <a href="#"> <i class="fa fa-arrow-up" aria-hidden="true"></i> top <a/>
  </div> -->
<div class="scroll-top-arrow">
  <a id="top-a" href="#top" target="_self">
    <div class="scroll-top-arrow-circle">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
    <p id="top-scroll">top</p>
  </a>
</div>


<h2 id="contact-logo">Introduce yourself.</h2>
<ul class="contact-ul">
  <li class="content-els contact-bold">we love email.
    <div class="contact-light">
     <a href="mailto:kleinnco@gmail.com">info@kleinnco.com</a>
   </div>
   </li>
  <li class="content-els contact-bold">and phones.
    <div class="toll-free contact-light">
     <span>1-866-998-6738</span>
   </div>
   </li>
  <li class="content-els contact-bold">and mail.
    <div class="contact-address contact-light">
    <span>
      Klein & Co, Inc. <br>
      4701 SW Admiral Way, Ste. 350
      Seattle, WA 98116
    </span>
  </div>
  </li>
</ul>
</div>

<footer class="contact-footer">
  <div class="footer-icons">
      <div class="contact-footer-icon-els">
        <a target="_blank" href="https://www.linkedin.com/in/christinaklein">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
      <div class="contact-footer-icon-els" id="icon-footer">
        <a target="_blank" href="https://twitter.com/kleinnco?lang=en">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </div>
  </div>
  <div class="contact-footer-legal">
    <h3 id="contact-footer-legal-h3">&copy; 2016 kleinnco | All Rights Reserved | website by <a href="mailto:andrewpeterwatson@gmail.com">NORTHMORE Creative</a> </h3>
  </div>
</footer>
</div>
