@import "_theme";

.our-work {
  float: left;
  width: 100%;
  height: 1000px;
  background-color: white;
}

.work-client-name-alone {
  position: relative;
  margin: 0;
  padding: 0;
  width: 75%;
  height: 100px;
  margin-left: 12.5%;
  margin-top: 10%;
  font-size: 1.3em;
  border-bottom: 1px solid $app-light;
  &:hover {
    outline: $app-light 2px solid;
    color: $app-dark;
  }


  @media only screen and (min-width : 820px) {
    margin: 5%;
    margin-left: 10%;
    border: 0;
    display: inline-block;
    width: 30%;
  }
}

.work-hidden {
  position: absolute;
  display: none;
  text-align: center;
  height: 100px;
  color: black;
  font-size: .7em;

  p {
    margin-top: 5%;
    margin-left: 20%;
    width: 58%;
    text-align: center;
    color: $app-dark;
    font-weight: bold;
  }
}
// .work-client-name-alone:hover .work-hidden {
//   display:block;
// }
// .work-client-name-alone:hover .work-clients-alone-els {
//   display: none;
// }

.work-clients-alone-els {
  text-align: center;
  line-height: 100px;
}

.work-gallery-position {
  display: inline-block;
}

.work-position1 {
  position: absolute;
}

.work-cycle {
  position: absolute;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0);
  color: lightgrey;
  font-size: 5em;
  border: none;
  margin-top: 25%;
  margin-left: 3%;



  &:focus {
    outline: 0;
  }

  @media only screen and (max-width : 480px) {
    font-size: 2em;
    margin-top: 70%;
  }
  @media only screen and (min-width : 480px) and (max-width : 800px) {
    margin-top: 21%;
  }

}

.work-client-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.work-client-info {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: -6%;
}

#cycle-forward{
  margin-left: 90%;
}

#work-client-name {
  font-size: 2em;
  margin-left: 12%;
  margin-top: 16%;
  height: 65px;
  width: 75%;
  text-align: center;

}

#work-client-work {
  font-size: 1em;
  margin-left: 12%;
  width: 75%;
  height: 210px;
  color: grey;
  text-align: center;
  line-height: 1.5em;
  border-top: 1px solid lightgrey;

}


.work-gallery-indicators {
  padding: 0;
  margin-left: 15%;
  margin-top: 5%;
  color: grey;



}
.indicator-els {
  padding: 0;
  margin-left: 10%;
}

.work-gallery-close {
  text-align: right;
  margin-right: 6%;
  margin-top: 2%;
  color: $app-light;
  font-size: 3em
}
