.our-work {
  float: left;
  margin-top: 20%;
  width: 100%;
  height: 100%;
  outline: 1px blue solid;
}

.work-gallery-position {
  display: inline-block;
}

.work-position1 {
  position: absolute;
}
