<div class="our-work">
<div class="work-clients-container" ng-show="!ourWorkCtrl.showWorkGallery">
    <div class="work-client-name-alone" ng-click="ourWorkCtrl.showWorkGalleryAt(0)">
      <img class="work-clients-alone-els" src="../../assets/logos/novartis-black.png" alt="Novartis" />
    </div>
    <div class="work-client-name-alone" ng-click="ourWorkCtrl.showWorkGalleryAt(1)">
      <img class="work-clients-alone-els" src="../../assets/logos/microsoft-black.png" alt="Microsoft" />
    </div>
    <div class="work-client-name-alone" ng-click="ourWorkCtrl.showWorkGalleryAt(2)">
      <img class="work-clients-alone-els" src="../../assets/logos/ousd-black.png" alt="Oakland Unified School District" />
    </div>
    <div class="work-client-name-alone" ng-click="ourWorkCtrl.showWorkGalleryAt(3)">
      <img class="work-clients-alone-els" src="../../assets/logos/neos-sdi-black.png" alt="Neos-SDI" />
    </div>
    <div class="work-client-name-alone" ng-click="ourWorkCtrl.showWorkGalleryAt(4)">
      <img class="work-clients-alone-els" src="../../assets/logos/gates-black.png" alt="Bill and Melinda Gates Foundation" />
</div>
</div>
<div class="work-gallery-container" ng-show="ourWorkCtrl.showWorkGallery">
  <p class="work-gallery-close" ng-click="ourWorkCtrl.closeGallery()">
    X
  </p>
  <p class="work-cycle" id="cycle-forward" ng-click="ourWorkCtrl.nextSlide()">></p>
  <p class="work-cycle" id="cycle-backward" ng-click="ourWorkCtrl.prevSlide()"><</p>
  <div class="work-client-container">
    <ol id="work-info-ol">
      <li ng-repeat="client in ourWorkCtrl.currentClient" ng-hide="!ourWorkCtrl.isCurrentSlideIndex($index)" class="work-client-info slide-animation">

        <h2 id="work-client-name">{{client.name}}</h3>
        <h3 id="work-client-work">{{client.work}}</h3>
      </li>
    </ol>
    <ol class="work-gallery-indicators">
      <li ng-repeat="clients in ourWorkCtrl.currentClient" class="indicator-els" ng-class="!ourWorkCtrl.isCurrentSlideIndex($index)? 'fa fa-circle-thin' : 'fa fa-dot-circle-o'" id="{{clients.name}}"></li>
    </ol>
  </div>
</div>
</div>
