<main class="about-page">
  <div class="about-img-container">
    <img class="about-klein-logo" ng-click="aboutCtrl.goHome()" src="../../assets/images/kleinco-final-white.png" alt="klein and co logo" />
    <img class="about-img" src="../../assets/images/laughing.jpg" alt="test" />
  </div>
  <div class="about-body-container">
    <h2 class="about-quote">Behind the name.</h2>
    <p>
    One part connector, one part conductor and one (large!) part mad scientist, Christina Klein is a master producer with the ability to connect ideas, people and resources to solve the most complex marketing challenges with infectious enthusiasm. For 20 years, Christina has been collecting experiences and a diverse global network of colleagues &amp; friends that make her a creative &amp; effective ally. Her diversity of experience working across industry &amp; audience segments coupled with a childlike curiosity for learning &amp; inventing enables her to marry the best of the best to achieve unprecedented outcomes for her clients.
    </p>
  </div>
  <div class="about-footer-legal">
    <h3 id="about-footer-legal-h3">&copy; 2016 kleinnco | Consulting Creativity | website by <a href="andrewpeterwatson.com">northmoremedia.com</a> </h3>
  </div>
</main>
