.buzz-words {
  float: left;
  height: 100%;
  width: 100%;
}


.bW-containers {
  margin: 0;
  padding: 0;
  height: 80%;
  width: 24%;
  font-size: 8em;
  display: inline-block;
  text-align: center;
  outline: red 1px solid;
}

#connector {
  margin-left: 2%;
}
