@import "_theme";

.buzz-words {
  float: left;
  height: 130%;
  width: 100%;
  background-color: white;
}


.bW-containers {
  margin: 0;
  padding: 0;
  height: 15%;
  width: 100%;
  font-size: 2.6em;
  display: inline-block;
}

.bw-names {
  text-align: center;
  width: 50%;
  height: 55%;
  margin-left: 26%;
  margin-top: 10%;
  border-bottom: 1px solid grey;
}
.bw-desc {
  font-size: .5em;
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  text-align: center;
  font-style: italic;
  color: grey;
}

#connector {
  // margin-left: 8%;
}
