@import "_theme";

.buzz-words {
  float: left;
  height: 1000px;
  width: 100%;
  background-color: white;

  @media only screen and (min-width : 820px) {
    // height: 100%;
  }
}


.bW-containers {
  margin: 0;
  padding: 0;
  float: left;
  height: 333px;
  width: 100%;
  font-size: 2.6em;
  display: inline-flex;

  @media only screen and (min-width : 820px) {
    width: 30%;
    margin-top: 8%;
  }
}

.bw-names {
  text-align: center;
  width: 155px;
  float: left;
  height: 52px;
  margin-left: 26%;
  margin-top: 15px;
  border-bottom: 1px solid grey;

  @media only screen and (min-width : 820px) {
    font-size: 2em;
    height: 95px;
  }
}
.bw-desc {
  font-size: .5em;
  width: 70%;
  height: 151px;
  margin-left: -60%;
  margin-top: 76px;
  text-align: center;
  font-style: italic;
  color: grey;
  @media only screen and (min-width : 820px) {
    margin-top: 130px;
    margin-left: -60%;
    width: 80%;
  }
}

#bw-think {
  margin-left: 3%;
}
