<div class="buzz-words">
<div class="bW-containers" id="bw-think">
  <div class="bw-names">
    <p>
      Think
    </p>
  </div>
  <div class="bw-desc">
    <p>
      It all starts with the input: research, art, conversation, reading, cultural exposure, observation, nature, music.   All of it mingles together to create insights &amp; vision. We highly value the process and time required to think.  While much in marketing and business is formulaic, differentiation comes from the insights that drive creative.  To get there, we think… a lot.

    </p>
  </div>
</div>
<div class="bW-containers">
  <div class="bw-names">
    <p>
      Create
    </p>
  </div>
  <div class="bw-desc">
    <p>
      While I have a lot of good ideas, I know I’m not the only one.  At Klein & Co., we collaborate to create as a principle value.  Whether we’re developing business processes or integrated campaigns, creative manifests itself differently by client, by team, by project.  We are masters at the “yes, and” and then filtering and refining ideas through the lens of business objectives to deliver breakthrough creative.
    </p>
  </div>
</div>
<div class="bW-containers">
  <div class="bw-names">
    <p>
      Inspire
    </p>
  </div>
  <div class="bw-desc">
    <p>
      Inspire thinking.  Inspire creative.  Inspire people.  We don’t just want to do good work – we want the work to inspire more good work, action, and new thinking.  We excel at motivating others to support and enable our work, and that enablement leads to inspiring outcomes.
    </p>
  </div>
</div>
<div class="bW-containers">
  <div class="bw-names">
    <p>
      Repeat
    </p>
  </div>
  <div class="bw-desc">
    <p>
      Having measurable, iterative milestones enables a level of refinement and learning that feeds everything we do.  Thinking leads to creative ideas that lead to inspired outcomes that lead to further thinking and refined creative ideas and more inspired outcomes.  It’s a cycle that we joyfully participate nurture.
    </p>
  </div>
</div>
</div>
