<div class="buzz-words">
<div class="bW-containers" id="bw-think">
  <div class="bw-names">
    <p>
      Think
    </p>
  </div>
  <div class="bw-desc">
    <p>
      We at K&C believe that every person, place, company and journey are different, and so should the creative process be to achieve successs within every given situation.
    </p>
  </div>
</div>
<div class="bW-containers">
  <div class="bw-names">
    <p>
      Create
    </p>
  </div>
  <div class="bw-desc">
    <p>
      To Inspire is to be Inspired and to take in the world around us. We look to find new and exciting opportunities and want to share those with our you!
    </p>
  </div>
</div>
<div class="bW-containers">
  <div class="bw-names">
    <p>
      Inspire
    </p>
  </div>
  <div class="bw-desc">
    <p>
      Why should life be boring? We take every chance we get to enjoy and share our joy with those around us, epecially in the creative process!
    </p>
  </div>
</div>
</div>
