<div class="buzz-words">
<div class="bW-containers" id="connector">
  <div class="bw-names">
    <p>
      Create
    </p>
  </div>
  <div class="bw-desc">
    <p>
      We at K&C believe that every person, place, company and journey are different, and so should the creative process be to achieve successs within every given situation.
    </p>
  </div>
</div>
<div class="bW-containers">
  <div class="bw-names">
    <p>
      Inspire
    </p>
  </div>
  <div class="bw-desc">

  </div>
</div>
<div class="bW-containers">
  <div class="bw-names">
    <p>
      Enjoy
    </p>
  </div>
  <div class="bw-desc">

  </div>
</div>
</div>
