<div class="intro">
      <div class="background-container">
        <img class="head-shot" src="../../assets/images/globe-pic-small.jpg" alt="Head Shot" />
      </div>
      <div class="intro-cover-color">
    <div class="intro-logo-full">
      <div class="head-shot-container">
          <img class="logo-els" src="../../assets/images/kleinco-final-white.png" alt="K&amp;CO Logo" />
          </div>
          <div class="tagline-table">
            <ul class="intro-tagline">
              <li class="tagline-els">Think.</li>
              <li class="tagline-els">Create.</li>
              <li class="tagline-els">Inspire.</li>
              <li class="tagline-els">Repeat.</li>
            </ul>
          </div>
      </div>
  </div>
</div>
