<div class="intro">


      <!-- <ul class="intro-logo">
        <li class="intro-logo-els intro-klein">Klein</li>
        <li class="intro-logo-els intro-line2"><span class="intro-amp">&</span> <span class="intro-co">CO</span></li>
      </ul> -->
      <div class="background-container">
        <img class="head-shot" src="../../assets/images/globe-pic.jpg" alt="Head Shot" />
      </div>
    <div class="intro-logo-full">
      <div class="head-shot-container">
          <img class="logo-els" src="../../assets/images/kleinco-logo.png" alt="K&amp;CO Logo" />
          <div class="tagline-table">
            <ul class="intro-tagline">
              <li class="tagline-els">Think.</li>
              <li class="tagline-els">Create.</li>
              <li class="tagline-els">Inspire.</li>
              <li class="tagline-els">Repeat.</li>
            </ul>
          </div>
      </div>
  </div>


</div>
