<div class="intro">


    <!-- <div class="name-container">
      <h1 class="intro-name intro-chris">Christin</h1>
      <h1 class="intro-name intro-klein">Klein</h1>
    </div> -->

    <ul class="intro-logo">
      <li class="intro-logo-els intro-klein">Klein</li>
      <li class="intro-logo-els intro-line2"><span class="intro-amp">&</span> <span class="intro-co">CO</span></li>
      <!-- <li class="intro-logo-els intro-co">CO</li> -->
    </ul>
    <ul class="intro-tagline">
      <li>Create.</li>
      <li>Inspire.</li>
      <li>Enjoy.</li>
    </ul>
  <div class="head-shot-container">
    <img class="head-shot" src="../../assets/images/head-shot.jpg" alt="Head Shot" />
  </div>

</div>
