.quotes {
  float: left;
  height: 1200px;
  width: 100%;
  background-color: white;
}

.quotes-container {
  height: 100%;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 12%;
  width: 70%;
}

.quote-pair {
  width: 100%;
  margin-top: 10%;
  margin-left: -22px;
  display: block;

  @media only screen and (min-width : 820px) {
    display: inline-flex;
  }

}

.quote-el-conteiner {
  width: 95%;
  margin-left: 27px;

  @media only screen and (min-width : 820px) {
    width: 44%;
  }
}

.quotes-para {
  text-align: left;
  font-size: 1.3em;

  @media only screen and (min-width : 820px) {
    font-size: 1.6em;
  }
}

.quotes-info {
  text-align: right;
  font-size: 1em;
  font-style: italic;
}
