<div class="quotes">
  <div class="quotes-container">
    <p class="quotes-para">“Christina has the unique ability to repeatedly push the envelope of what’s possible. Not just putting forward innovative communication ideas, but also developing new processes to support the execution of these ideas – the A&amp;O Live show is a great example”.</p>
    <h2 class="quotes-info">- Justin Slade, Internal Communications Manager, Advertising &amp; Online, Microsoft</h2>

    <p class="quotes-para">“Christina has done an amazing job in the development of our strategic communications, whether through co-authoring memos or streamlining our global field playbook.  Her contribution, understanding and simplification of our thoughts, and easy connection with different stakeholders was central to delivering high quality documents.”</p>
    <h2 class="quotes-info">- Sebastian Lancestremere, <br>General Manager, Microsoft Sports</h2>

    <p class="quotes-para">“Klein &amp; Co was instrumental in engaging people in a fun and unusual way, creating an activity for people to work on together that helped build community. The overwhelmingly positive comments from attendees both night-of and in the following days showed that we really struck a nerve in reaching a hard-to- reach audience of women in technology.”</p>
    <h2 class="quotes-info">– Erin Elsasser, Sr. Recruiter, <br>Microsoft Global Talent Acquisition</h2>

    <p class="quotes-para">“Klein &amp; Co has been able to bring a consumer marketing mindset to the diagnostics industry. They have shown an incredible ability to learn new products and industries and can apply their knowledge and skills to a variety of audiences and markets.”</p>
    <h2 class="quotes-info">- Dave Dew, President of Global Diagnostics &amp; Commercial Sales, Novartis Diagnostics</h2>

  </div>
</div>
