<div class="info">
  <div class="info-mission-container">
    <p id="info-mission-el">
      TEST TEST TEST
      Our mission at Klein &amp; Co is to connect ideas, people and 20 years’ marketing experience to deliver your vision – elevated – through creativity, collaboration and infectious enthusiasm. <br> By dynamically pulling together experts &amp; cross-industry experience when and where needed, our collaborative model ensures the best talent is working on your project –delivering on time and on budget.<br> Want to learn more? meet us <span id="info-meet-us" ng-click="infoCtrl.meetUs()">here!</span>
    </p>
  </div>
</div>
