@import "_theme";

button {
  background-color: transparent;
  border: none;
}

.nav-bar {
  margin: 0;
  padding: 0;
  position: fixed;
  display: inline-block;
  height: 100px;
  width: 100%;
  z-index: 3;
  // background-color: rgba(0, 0, 0, 0.75);
  // outline: 1px black dashed;
}

.nav-bars {
  color: $app-light;
  font-size: 2.2em;
  float: right;
  margin-top: -12%;
  margin-right: 6%;
}


.nav-els {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.nav-logo {
  float: left;
  color: white;
  width: 100%;
  height: 50px;
  margin-left: 5%;
  margin-top: 1%;
  // text-align: center;
  // outline: 1px solid blue;


  &:hover {
    cursor: pointer;
  }
}
#navKlein {
  font-size: 3.5em;
  font-family: 'Italianno', cursive;
}
#navCo {
  font-size: 2.8em;
  margin-left: -1%;
  font-family: 'Cantarell', sans-serif;
}
#nav-amp {
  text-decoration: underline;
  color: $app-light;
  font-size: 2.7em;
  font-style: italic;
}

.we-do {
  float: right;
  width: 110px;
  height: 35px;
  text-align: center;
  margin-right: 2%;
  margin-top: 3%;
  outline: 1px solid yellow;

  p {
    margin-top: 6%;
  }
}

.lets-talk {
  float: right;
  width: 110px;
  height: 35px;
  text-align: center;
  margin-right: 2%;
  margin-top: 3%;
  outline: 1px solid green;

  p {
    margin-top: 6%;
  }
}
