@import "_theme";

button {
  background-color: transparent;
  border: none;
}

.nav-bar {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 3;
}

.nav-bars {
  // position: absolute;
  color: $app-light;
  font-size: 2.2em;
  float: right;
  margin-top: 10%;
  margin-right: -160%;

  @media only screen and (min-width : 820px) {
    display: none;
  }

}


.nav-els {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.nav-logo {
  float: left;
  color: white;
  width: 100%;
  height: 50px;
  margin-left: 5%;
  margin-top: 1%;
  // text-align: center;
  // outline: 1px solid blue;


  &:hover {
    cursor: pointer;
  }
}

.nav-modal-logo {
  float: left;
  color: white;
  width: 100%;
  height: 50px;
  margin-left: 40%;
  margin-top: 10%;
  // text-align: center;
  // outline: 1px solid blue;


  &:hover {
    cursor: pointer;
  }
}
#navKlein {
  font-size: 3.5em;
  font-family: 'Italianno', cursive;
}
#navCo {
  font-size: 2.8em;
  margin-left: -2.5%;
  font-family: 'Cantarell', sans-serif;
}
#nav-amp {
  // text-decoration: underline;
  color: $app-light;
  font-size: 2.5em;
  // font-style: italic;
  font-family: 'Petit Formal Script', cursive;
  // font-family: 'Merienda', cursive;
}

.we-do {
  float: right;
  width: 110px;
  height: 35px;
  text-align: center;
  margin-right: 2%;
  margin-top: 3%;
  outline: 1px solid yellow;

  p {
    margin-top: 6%;
  }
}

.we-are {
  margin-top: 5%;
  p {
    margin-top: 6%;
  }
}

.nav-btns {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 3em;
  color: $app-light;

  &:hover {
    border: 1px $app-dark solid;
  }

}


.nav-container {
  position: absolute;
  width: 279%;
  height: 1111%;
  display: hidden;
  background-color: $app-dark-trans;
}

.close-nav p {
  color: $app-light;
  font-size: 5em;
  margin-left: 45%;
  font-family: 'Open Sans Condensed', sans-serif;
}
