<nav class="nav-bar">

  <div class="nav-logo">
    <div ng-click="navCtrl.goHome()">
      <span class="nav-els" id="navKlein">K</span>
      <span class="nav-els" id="nav-amp">&</span>
      <span class="nav-els" id="navCo">C</span>
    </div>
  </div>

  <i class="fa fa-bars nav-bars" aria-hidden="true"></i>

  <!-- <div class="nav-els we-do">
    <p>what we do</p>
  </div>
  <button class="nav-els lets-talk" ng-click="navCtrl.goAbout()" type="button" name="button">this is us</button> -->
</nav>
