.footer-legal {
  position: absolute;
  width: 100%;
  /* bottom: 0; */
  margin-top: -175px;
  height: 60px;
}

.all-footer-legal {
  width: 65%;
  margin-left: 16%;

}

#all-footer-legal-h3 {
  font-size: 1em;
  text-align: center;
}
